<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="lastName">Alphabetical</option>
          <option value="firstName">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="students">
        <li ng-repeat="student in $ctrl.students | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
          <a href="#!/students/{{student._id}}" class="thumb">ID</a>
          <a href="#!/students/{{student._id}}">{{student.firstName}}</a>
          <p>{{student.gender}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
